<!doctype html>
<html lang="en-ca">
	<head>
		<meta charset="utf-8">
		<title>{{{ title }}}</title>
		<meta name="author" content="Whymarrh Whitby">
		<meta name="robots" content="noindex">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="theme-color" content="#000">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
		<link rel="icon" type="image/png" href="/assets/images/4dc15a5732c970aeac40bf313453d9f14e9a7f2e.png">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/reveal.js/3.0.0/css/reveal.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/reveal.js/3.0.0/css/theme/white.css" id="theme">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/reveal.js/3.0.0/lib/css/zenburn.css">
		<style>strong { text-decoration: underline; }</style>
	</head>
	<body>
		<div class="reveal">
			<div class="slides">{{{ contents }}}</div>
		</div>
		<script src="https://cdn.jsdelivr.net/reveal.js/3.0.0/lib/js/head.min.js"></script>
		<script src="https://cdn.jsdelivr.net/reveal.js/3.0.0/js/reveal.min.js"></script>
		<script src="/assets/slides.js"></script>
	</body>
</html>
