/*
 *        ______
 * __________  /_______ _______ ________
 * __  ___/_  __ \  __ `/_  __ `__ \  _ \
 * _(__  )_  / / / /_/ /_  / / / / /  __/
 * /____/ /_/ /_/\__,_/ /_/ /_/ /_/\___/
 *
 * Where the ASCII art is decent, but the CSS isn't.
 */

a:hover {
	text-decoration: none;
}

html {
	font-family: Georgia, "Times New Roman", "PT Serif", serif;
	text-align: justify;
	    -ms-hyphens: auto;
	   -moz-hyphens: auto;
	-webkit-hyphens: auto;
	        hyphens: auto;
}

body {
	color: #515151;
}

h1, h2, h3, h4, h5, h6 {
	color: inherit;
	font-family: "Helvetica Neue", Helvetica, "PT Sans", Arial, sans-serif;
	text-align: left;
}

h1 {
	font-size: 3rem;
	margin: 1.5rem 0;
}

ul {
	text-align: left;
}

.masthead {
	border: none;
	margin: 3rem 0;
}

.masthead-title {
	color: inherit;
	text-align: center;
}

.masthead-title small {
	font-size: 100%;
}

.masthead-title a {
	color: inherit;
}

.page,
.post {
	margin-bottom: 3em;
}

.page-title,
.post-title {
	margin-bottom: 1rem;
}
