h1 {
	font-size: 3em;
}

p {
	font-size: 1.4em;
}

body {
	font-family: Consolas, monospace;
	font-size: 1em;
	hyphens: auto;
	margin-top: 2em;
	margin-bottom: 2em;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	max-width: 35em;
	padding-left: 2em;
	padding-right: 2em;
}

code {
	font-family: "Consolas", monospace;
}

h1, p {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

footer {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin-top: 1em;
	margin-bottom: 1em;
	justify-content: flex-end;
}

.icon {
	width: 4em;
	height: 4em;
	padding-top: 0.5em;
	padding-right: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 0.5em;
}


@media only screen and (max-width: 35em) {
	footer {
		justify-content: space-between;
	}
	.icon {
		flex: 1;
	}
}
